# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# User data
xcuserdata/
*.xcworkspace/xcuserdata

# Build
DerivedData/
build/

# Swift Package Manager
.build/
Packages/

# macOS
.DS_Store

# Playgrounds
timeline.xctimeline
playground.xcworkspace
